*{
    margin: 0;
    padding: 0;
  }
  body{
   font-size: 18px;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Ysabeau Office', sans-serif;
   background-image: url('https://images.wallpaperscraft.com/image/single/clouds_beautiful_sunset_178093_3840x2160.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
 }
 .gradient-custom {
  /* fallback for old browsers */
  background: #ffffff;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.carousel-indicators li {
  background-color: #282828;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

input{
 margin-top: 30px;
 padding: 10px;
 font-size: 16px;
 width: 30%;
 margin-right: 10px;
 border-radius: 20px;
 color: #fff;
 background-color: #7a747366;
 border: none;
}
button {
margin-top: 30px;
padding: 10px 10px;
font-size: 16px;
cursor: pointer;
border-radius: 20px;
border: none;
background-color: rgba(141 97 76 / 48%);
}

button:hover {
background-color: rgba(255, 191, 95, 255);
transition: 0.2s;
}

button:active {
background-color: rgba(255, 191, 95, 255);
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
    margin-right: -320px;
  margin-top: 13px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: rgba(141 97 76 / 48%);
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: rgba(255, 191, 95, 255);
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.card{
border-radius: 20px;
padding: 17px;
overflow: hidden;
margin-top: -175px;
width: max-content;
background-color: rgb(115 115 115 / 29%);
border: none;
cursor: pointer;
}
.card:hover{
background-color: #787777;
transition: 0.3s;
}